.idea/
.venv/
config/config.ini
config/.env
output/log/project_log.log
__pycache__/
temp/
output/marks/marks.json
output/marks/raw_marks.json
tests
internal/utils/cloud_backup
.vscode/
raw_timetable.json
timetable.json
raw_absence.json
