# Editor's
.idea/
.venv/
__pycache__/
.vscode/

# Private info
config/config.ini
config/.env

# Output files
output/log/project_log.log
output/marks/marks.json
output/marks/raw_marks.json
output/timetable/timetable.json
output/absence/raw_absence.json

# Local help folders
temp/
tests/
help/
